<div class="container">
  <h1>All our Flats</h1>
  <p>All <%= @flats.count %> flats.</p>

  <div class="d-flex flex-wrap gap-3">
    <% @flats.each do |flat| %>
      <div class="card" style="width: 18rem;">
        <img src="<%= flat.image_url %>" class="card-img-top" alt="image of flat">
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.address %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% end %>
  </div>

</div>
